*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    color:#fff;
}
header{
	background:#222222;
}
header h1{
	text-align:left;
	padding:8px 0px;
}
header li{
	font-weight:bold;
	float:left;
	font-size:1em;
	font-weight:bold;
	padding:19.5px 18px;
}
header li:first-child{
	text-align:left;
	float:left;
}
section{
	background: linear-gradient(45deg,#020031 0,#6d3353 100%);
	height:800px;
	text-align:center;
}
section h1{
	font-size: 4em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
}
section h1:nth-child(2){
	font-size: 2em;
}
section button{
	font-size: 1em;
	background:#337AB7;
	padding:8px 6px;
	font-weight:bold;
	margin-bottom:30px;
}
/* section>div{
    display:block;
    text-align:center;
} */
section>div>div{
	display:inline-block;
}
section div>img{
	border:5px solid #fff;
    max-width:100%;

}
/* 流式布局 */
.col-1
{
    width: 8.33%;
}
.col-2
{
    width: 16.67%;
}
.col-3
{
    width: 25%;
}
.col-4
{
    width: 33.33%;
}
.col-5
{
    width: 41.67%;
}
.col-6
{
    width: 50%;
}
.col-7
{
    width: 58.33%;
}
.col-8
{
    width: 66.67%;
}
.col-9
{
    width: 75%;
}
.col-10
{
    width: 83.33%;
}
.col-11
{
    width: 91.67%;
}
.col-12
{
    width: 100%;
}
/* TODO 设置浮动 */
[class*='col-']
{
    float: left;
}
@media screen and (max-width: 992px){
    section>div>div {
        width: 48%;
    }
    [classs="col-6"]{
        width: 100%;
    }
}

@media screen and (max-width: 758px){
    section>div>div {
        width: 100%;
    }
}
