*{
    list-style:none;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
header{
    background:#222222;
    color:#fff;
    font-weight:bold;
    text-align:center;
}
header h1{
    padding:8px 5px;
    text-align:left;
}
header ul li{
    float:left;
    width:20%;
    padding:19.5px 5px;
}
section{
    background: linear-gradient(45deg,#020031 0,#6d3353 100%);
    height:800px;
    text-align:center;
}
section h1{
    font-size: 4em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
}
section h1:nth-child(2){
    font-size: 2em;
}
section button{
    font-size: 1em;
    background:#337AB7;
    padding:8px 6px;
    font-weight:bold;
    margin-bottom:30px;
}
section>div>div{
    display:inline-block;
    /*width:20%;*/
}
section img{
    border:5px solid #fff;
    width: 100%;
}
.col-1
{
    width: 8.33%;
}
.col-2
{
    width: 16.66%;
}
.col-3
{
    width: 25%;
}
.col-4
{
    width: 33.33%;
}
.col-5
{
    width: 41.66%;
}
.col-6
{
    width: 50%;
}
.col-7
{
    width: 58.33%;
}
.col-8
{
    width: 66.66%;
}
.col-9
{
    width: 75%;
}
.col-10
{
    width: 83.33%;
}
.col-11
{
    width: 91.66%;
}
.col-12
{
    width: 100%;
}
[class*='col-']
{
    float: left;
}

@media screen and  (max-width: 992px){
    section>div>div{
        width: 48%;
    }
    [class*='col-6']{
        width:100%;
        height:57px;
    }
}
@media screen and (max-width:768px){
    section>div>div{
        width:100%;
    }
    [class*='col-6']{
        width:100%;
    }
    header ul li{
        width:33%;
        padding:0;
    }
}

